* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

header h2 {
    margin-left: 25px;
    font-size: 2em;
}

header h2 a,
header ul li a {
    color: white;
    text-decoration: none;
}

header ul {
    display: flex;
    gap: 20px;
    list-style: none;

    margin-right: 25px;
}

header ul li {
    font-size: 2em;
}
